/* CSS declarations go here */
.chatinput{
    position: absolute;
    width: calc(100% - 20px);
    bottom: 10px;
}

.chatarea {
    position: absolute;
    height: calc(100% - 120px);
    width: calc(100% - 20px);
    overflow-x: scroll;
}